.claude.json 
.claude.json.backup 
.claude/ 
.dbus-keyrings/ 
.gitconfig 
.local/ 
AppData/ 
Contacts/ 
Desktop/ 
Documents/ 
Downloads/ 
Favorites/ 
Links/ 
Music/ 
NTUSER.DAT* 
OneDrive/ 
Pictures/ 
Saved*Games/ 
Searches/ 
Videos/ 
__pycache__/ 
ntuser.* 
venv/ 
requirements.txtgit 
